
.search{
	width: 90%;
	margin: 20px auto 10px auto;
	font-size: 1.1rem;
	display: block;
		color: rgba(255,255,255,0.90);

}
.search input{
	cursor: pointer;
	
}

.search div{
margin-bottom: 3px;

}
.register{
	width: 90%;
	height: 100%;
	margin: 50px auto 10px auto;

	display: block;
 
/*	border: solid 1px #29323c;*/
/*	padding: 10px;*/
}

.register .register-query{
	display: inline-block;
	margin-top: 5px;
	float: left;
	
}

.register-query table{
font-size: 1.1rem;
margin: auto 10px auto auto;
text-align:center;
color: #29323c;
float:left;
font-weight: normal;
background-color: rgba(255,255,255,0.6);

}
.register-query table body{
	overflow:auto;
	
}
.register-query table th{
padding: 5px 20px;
word-break:break-all;

background-color: rgba(0,0,0,0.2);
}

.register-contents table td{
	padding: 2px 20px;
	border-bottom: 1px solid #666;
	height: 23px;
    word-break:break-all;

}
.register .bottom-button {
	float: left;
}


@media screen and (max-width:768px) {
.search .search-row1{
display: block;
	}


}
@media screen and (max-width: 420px) {

}