body {
/*	editing to make scrolling invisible
	overflow:hidden;
*/
}
.search{
	width: 90%;
	margin: 20px auto 10px auto;
	font-size: 1.1rem;
	color: rgba(255,255,255,0.90);
	display: block;

}
.search input{
	cursor: pointer;
}

.search div{
	margin-bottom: 3px;
}




.top-button{
	float: right;
}



.register{
	width: 90%;
	height: 100%;
	margin: 50px auto 10px auto;
	
    font-weight: bold;
	display: block;
/*	border: solid 1px #29323c;*/
/*	padding: 10px;*/
}

.register .register-contents{
	display: inline-block;
/*	margin-top:20px;*/
	
}

.register-contents .sub-table{
font-size: 1.1rem;
margin: auto 10px auto auto;
text-align:center;
color: #29323c;
float:left;
font-weight: normal;
background-color: rgba(255,255,255,0.6);

}
.register-contents .sub-table body{
	overflow:auto;
	
}
.register-contents  .sub-table th{
padding: 5px 20px;
word-break:nomal;

background-color: rgba(0,0,0,0.2);
}

.register-contents  .sub-table td{
	padding: 2px 20px;
	border-bottom: 1px solid #666;
	height: 23px;
    word-break:nomal;

}

#poster-preview img{
	float:left;
	width: 160px;
	height: 125px;
	display: inline;
	margin-right: 10px;
}



@media screen and (max-width:768px) {
.search .search-row1{
display: block;
	}
	.register .register-contents{
	display: block;
/*	margin-top:20px;*/
	
}
	.register-contents  .sub-table{
width: 100%;

}
	
}
@media screen and (max-width: 420px) {

}