
.wrapper {


text-align: center;
display: inline-flex;
margin: auto 2%;

	
}
.delete{
	cursor: pointer;
	
}

.table-top{
float: right;

}

.left {
width: 45%;
 display:inline-block;


}
.left-top-table{

	width: 100%;
	
	margin: 50px auto;
}

.left-bottom-table{

width: 100%;

}
.center {
/*	display:inline-block;*/
	width: 10%;
/*	line-height: 5px;*/
	height: 200px;
	text-align:center;
	color: #fff;
	font-size: 1rem;
	margin: auto;
}

.center .p{


	font-weight: bold;

	
}

.right {
width: 45%;
	margin: auto;
	height: 500px;


}

.right .right-table{


	

	width: 100%;



}
.right-table .table-top {


	
}

.right input{

		width: 120px;
	
	}

@media screen and (max-width:768px) {
	
	.center{
		display: inline;
		text-align: center;
		width: 100%;
	}

	.center .button-icon img{
		transform: rotate(90deg)
	}
	.wrapper {
		display: block;}
	.right, .left, .center{
width: 100%;
}

.right .right-table{

	
	overflow: auto;
	margin: auto;
	width: 100%;
	margin-top: 10px;

}

.right input{
		width: 100px;
	}

}
@media screen and (max-width: 420px) {
	
	.right input{
		width: 80px;
	}
}