input[id="menuicon"] {
  display: none;
}

/*header*/
header {
  width: 100%;
  background-color: #e5e5e5;
}
header > div {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
header > div ul.navi {
  font-size: 0;
}
header > div ul.navi > li {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}
header > div ul.navi > li > a {
  display: block;
  width: auto;
  padding: 20px;
}
header > div ul.navi > li.logo > a {
  padding: 20px 50px;
  font-size: 20px;
  font-weight: 900;
}

/*mdiddle sort*/
.area_desc {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

/*menu button*/
.menubtn {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.menubtn span {
  display: block;
  position: absolute;
  width: 80%;
  height: 5px;
  border-radius: 30px;
  background: #222;
  transition: all 0.35s;
}
.menubtn span:nth-child(1) {
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.menubtn span:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menubtn span:nth-child(3) {
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}

/*contents area*/
.container {
  width: 100%;
  position: relative;
}
.container .contents {
  width: 1200px;
  margin: 0 auto;
  min-height: 700px;
  border: 1px solid #eee;
  background: #f1f1f1;
}
.container .sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100%;
  background: #666;
  border: 1px solid #eee;
  z-index: 30;
  transition: 0.35s;
}

/*check valuse*/
input[id="menuicon"]:checked ~ header .menubtn {
  z-index: 2;
}
input[id="menuicon"]:checked ~ header .menubtn span:nth-child(1) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
}
input[id="menuicon"]:checked ~ header .menubtn span:nth-child(2) {
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  opacity: 0;
}
input[id="menuicon"]:checked ~ header .menubtn span:nth-child(3) {
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(-135deg);
}
input[id="menuicon"]:checked ~ .container .sidebar {
  right: 0;
}

/*
label{
  disply:block;
  width:50px;
  height:50px;
  background:url('image.png') 0 0 no-repeat;
}
input:checked ~ label {
  background-postion:-50px 0;
}
*/
