.wrapper {

  display: inline;

  margin:10px 2%;
}

.left,.right {

width: 49%;
margin: 10px auto;
color: #fff;


}
.left{
	float: left;
}
.right{
	float: right;
	
}

#slot-table, #setting-table{

width: 100%;
/*  border:solid 1px red;*/
}
.table-top{
	display: block;
	margin-bottom: 5px;
}

.table-top .button-letter{
	float: right;
}


@media screen and (max-width:768px) {
	
	top{
		width: 100%;
	}
	.left,.right {

width: 100%;

color: #D9D9D9;


}
#slot-table, #setting-table{
width: 100%;
	}


	
}
@media screen and (max-width: 420px) {
	
}